body{
    font-family: 'Inter', sans-serif;
    font-family: 'Lobster', cursive;
    font-family: 'Nunito', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
}
.header-area{
    text-align:center;
    padding: 240px 220px;
    height:400px;
    background-image:url(images/donation13.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    height:900px;
}
h1{
    font-size:85px;
    font-weight:1100;
    margin:0;
    padding:0;
    color:#fff;
}
p{ 
    text-align: center;

    font-size:22px;
    margin-top:30px;
    margin-bottom:60px;
    color:#707070;
}
.donate{
    color:#ffffff;
    
}
.all-button{
    text-decoration:none;
    padding:25px 30px;
    background-color:#05d8a3 ;
    color:#fff;
    border-radius:5px;
    font-weight:550;
    font-size:24px;
    
}
.all-button:hover{
    color:#1e2024d3;
    background-color: #2fe7b9d8;
}

li{
    list-style:none;
    display: inline-block;
    color:#1e2024d3;
    background-color:#f8f7f7ef;
    padding:45px 45px;
    font-size:35px;
    font-weight:900;
    margin-right:10px;
    border:3px solid #7ff3c7;
    border-radius: 10px;
 
}
li:hover{
    background-color:#2fe7b9;
    color:#fff;
}
.money-square{
    
        float:left;
        text-align:center;
        
        
}
.two{
    background-image: none;
    padding: 0 150px;
    padding-top:100px;
    padding-bottom:240px;
    height: 600px;

   
}
h2{
    font-size: 55px;
    font-weight:bolder;
    text-align: center;
}
.container input[type="number"]{
    padding:20px 110px 20px 150px;
    margin:0;
    color:#B3B3B3;
    border:none;
    font-size:20px;
}

hr{
    width:80%;
    margin-bottom:60px;
}

.flexible{
    display:flex;
    margin-left:200px;
   
}
.service-item p{
    text-align: left;
}
.service-item{
    width:25%;
    background-color: #2fe7b9;
    margin-left:20px;
    padding-left:25px;
    padding-right:30px;
    border-radius: 7px;
    
}
.service-item img{
    padding-top:60px;
    height:15%;
}
#item-one{
    background-color:rgba(226, 208, 208, 0.842); 
}
#item-two{
    background-color:antiquewhite;
}
#item-three{
    background-color: rgba(127, 255, 212, 0.514);
}
.helping-area{
    display: flex;
    margin-left:5%;
    height:700px;
    
}
.contribute{
    width:35%;
    padding-left:7%;
   

}
.contribute img{
    height:65%;
    width:100%;
    padding:0;
    border-radius: 10px;
}
.contribute h2{
    text-align: left;
    margin:0px;
}
.contribute-paragraph{
    text-align:left;
}
.again{

}
.fixed{
    text-align:left;
}
.email-area{
    text-align: center;
}
form{

    background-color:#FFF4D6;
    padding: 110px;
    margin: 0 400px;
   
}
.email-area form input[type="submit"]{
    font-size: 17px;
    padding:18px 30px;
    font-weight:bold;
    color:white;
    background-color:#2fe7b9;
    border:none;
    border-radius: 0 5px 5px 0;
    margin-left:-4px;
}
.email-area form input[type="email"] {
    padding:18px 60px;
    font-weight:bold;
    font-size:17px;
    border:none;
    border-radius: 5px 0 0 5px;
    background-color:rgba(160, 150, 150, 0.507)
}
.update-area{

    padding-top: -20px;
    
}
.bottom-area{
    height: 600px;
   
}

.know-us{
    height:600px;
    display:flex;
     margin-left: 15%;
     margin-top: 100px;
}
.about-us{
    width:50%;
    padding-right: 5%;
    
}
.about-us p{
    text-align: left;
}
.about-us h2{
    text-align:left;
}
.about-us img{
    border-radius: 7px;
}
.footer-area{
    background-color: #0B0D17;
    height:300px;
    text-align: center;
}
.footer-area h3{
    padding-top:80px;
    font-size:48px;
    color:#FF5959;
    font-family: 'Lobster', cursive;
    font-weight:400;
}
.footer-area p {
    color: white;
    font-weight:lighter;
}